/*Clase*/
.hf {
    font-size: large;
    padding: 0.75rem;
    background-color: rgb(24, 204, 129);
    text-align: center;
    font-weight: bold;
 
}
.hf a:hover {
    color: black;
}
/*ID*/
#Hagiografía {
    background-color: rgb(92, 38, 192);
    color: rgb(126, 94, 94);
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    margin: 1rem;
}
#Frases {
    background-color: rgb(183, 24, 197);
    color: black;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    margin: 1rem;
}
#Imágenes {
    background-color: rgb(11, 110, 190);
    color: rgb(204, 20, 20);
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem; 
    max-width: 100%;
    margin: 1rem;
}
#img1, #img2, #img3 {
    border-radius: 1rem;
    margin: 1rem;
}
/*Etiqueta*/
h1 {
    color: rgb(115, 31, 148);
}
h2 {
    color: rgb(114, 216, 54);
    font-size: x-large;
}
/*Body*/
body {
    background-image: url("./fondo\ marron.jpg");
    background-size: cover;
    background-position: center;
    margin: 0rem;
    font-family: 'Argelian', Times, serif;
}
header {
    text-align: center;
    font-size: x-large;
    padding: 3rem;
}
nav a {
    text-decoration: none;
    color: rgb(236, 233, 15);
    margin: 1rem;
}
p {
    font-family: inherit;
    font-size: medium;
}
table {
    font-family: inherit;
    width: 100%;
    margin: 2rem;
}